<h1>User: <%= @user.name %></h1>
<P><%= @bio.body %></P>
<hr>
<p><%= link_to "User", user_path(@user) %>
<p><%= link_to "Edit", edit_user_bio_path(@user, @bio) %>
<p><%= link_to "Delete", user_bio_path(@user, @bio),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
