<h1>Post: <%= @post.body %></h1>
<h4>Author: <%= @comment.user.name %></h4>
<hr>
<P>Comment: <%= @comment.body %></P>
<p><%= link_to "User", user_path(@user) %>
<p><%= link_to "Edit", edit_post_comment_path(@post, @comment) %>
<p><%= link_to "Delete", post_comment_path(@post, @comment),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
