
<h1>User: <%= @user.name.humanize %><h1>

<% if @user.posts.any? %>
  <h4>Here are your posts:</h4>
  <ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.body, user_post_path(@user, post) %></li>
  <% end %>
  </ul>
<% end %>

<% if @user.projects.any? %>
  <h4>Here are your projects:</h4>
  <ul>
  <% @user.projects.each do |project| %>
    <li><%= link_to project.name, user_project_path(@user, project) %></li>
  <% end %>
  </ul>
<% end %>

<% if @user.bio %>
<P><%= link_to @user.bio.body, user_bio_path(@user, @user.bio) %></P>
<% else %>
<P><%= link_to "New Bio", new_user_bio_path(@user), class: "btn btn-primary btn-sm" %></p>
<% end %>

<P><%= link_to "New Post", new_user_post_path(@user), class: "btn btn-primary btn-sm" %></p>

<P><%= link_to "New Project", new_user_project_path(@user), class: "btn btn-primary btn-sm" %></p>


<P><%= link_to "Add Skills", new_user_skill_path(@user), class: "btn btn-primary btn-sm" %></p>