<h1>Project: <%= @project.name %></h1>
<h4>Created by: <%= @user.name %></h4>

<P>Description: <%= @project.description %></P>
<p><%= link_to "User", user_path(@user) %>
<p><%= link_to "Edit", edit_user_project_path(@user, @project) %>
<p><%= link_to "Delete", user_project_path(@user, @project),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

