<h1>Project: <%= @project.name %></h1>
<h4>Created by: <%= @user.name %></h4>
<hr>
<% if @project.posts.any? %>
  <h4>Here is a list of Posts</h4>
  <ul>
  <% @project.posts.each do |post| %>
    <li><%= link_to post.body, project_post_path(@project, post)%></li>
  <% end %>
  </ul>
  <hr>
<% end %>


<P>Description: <%= @project.description %></P>
<p><%= link_to "New Post", new_project_post_path(@project) %>
<p><%= link_to "Edit", edit_user_project_path(@user, @project) %>
<p><%= link_to "Delete", user_project_path(@user, @project),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

