

<h1>Author: <%= @user.name %></h1>
<P><%= @post.body %></P>

<% if @post.comments.any? %>
<h4>Here are your comments:</h4>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= link_to comment.body, post_comment_path(@post, comment) %></li>
  <% end %>
</ul>
<% end %>

<p><%= link_to "Add Comment", new_post_comment_path(@post) %>
<p><%= link_to "User", user_path(@user) %>
<p><%= link_to "Edit", edit_user_post_path(@user, @post) %>
<p><%= link_to "Delete", user_post_path(@user, @post),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
